extends common/layout 

block content 
  main
  section.arcticles
    .arcticles__box
      .arcticles__box_text.font-color-dark How Dreamshare works?
      .arcticles__box_small.arcticles__box_small_first.font-color-white
        .arcticles__box_small_button
          p STEP 1
        .arcticles__box_small_text-big-first
          p Sed leo enim, condimentum
        .arcticles__box_small_text-small-first
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
      .arcticles__box_small.arcticles__box_small_second.font-color-white
        .arcticles__box_small_button
          p STEP 2
        .arcticles__box_small_text-big-second
          p Morbi velit risus
        .arcticles__box_small_text-small-second
          p
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
      .arcticles__box_small.arcticles__box_small_third.font-color-white
        .arcticles__box_small_button
          p STEP 3
        .arcticles__box_small_text-big-third
          p Sed leo enim, condimentum
        .arcticles__box_small_text-small-third
          p
            | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit
            | amet facilisis.
  section.partners
    .partners__text Meet a partner for your best holiday
    .partners__box
      .partners__box_1
        .partners__box_1-photo
        .partners__box_1-text
          p.partners__box_1-text_name Bradley Hunter
          p.partners__box_1-text_description
            | Based in Chicago. I love playing tennis and loud
            | music.
      .partners__box_2
        .partners__box_2-photo
        .partners__box_2-text
          p.partners__box_2-text_name Marie Bennett
          p.partners__box_2-text_description
            | Currently living in Colorado. Lover of art,
            | languages and travelling.
      .partners__box_3
        .partners__box_3-photo
        .partners__box_3-text
          p.partners__box_3-text_name Diana Wells
          p.partners__box_3-text_description
            | Living in Athens, Greece. I love black and white
            | classics, chillout music and green tea.
      .partners__box_4
        .partners__box_4-photo
        .partners__box_4-text
          p.partners__box_4-text_name Christopher Pierce
          p.partners__box_4-text_description
            | Star Wars fanatic. I have a persistent enthusiasm to
            | create new things.
    .partners__button
      .partners__button_box
        p See other partners
  section.activity
    .activity__box
      .activity__box_text
        p Discover holiday activity ideas
      .activity__box_gallery
        .activity__box_gallery_1
          p Sports and Activis
        .activity__box_gallery_2
          p Wellness and Health
        .activity__box_gallery_3
          p
            | Extreme Sports
            | and Expeditions
        .activity__box_gallery_4
          p Games
        .activity__box_gallery_5
          p Culture and Education
        .activity__box_gallery_6
          p Enjomet and Relaxation
        .activity__box_gallery_7
          p Trevelling
  section.interests
    .interests__box
      .interests__box_text-big Crate your holiday activity
      .interests__box_text-small Hi! What are your holiday interests?
      .interests__box_form
        input.interests__box_form_search(type='search', placeholder='Enter your insterests')
        button
          p Search partners


    