footer
  .footer
    .footer__box1
      p DREAMSHARE
    .footer__box2
      p Company
      ul
        li
          a(href='#')  About
        li
          a(href='#') Contact
        li
          a(href='#') Press
        li
          a(href='#') Blog
        li
          a(href='#') Terms and Privacy
        li
          a(href='#') Help
    .footer__box3
      p Partners
    .footer__box4
      p DESIGNED BY
      .footer__box4_logo

