header
  .box-header.font-color-white
    .box-header__logo
      p.box-header__logo_text DREAMSHARE
    .box-header__autorization.box-header__autorization_text
      .box_header__autoriztion_login
        span Log in
      .box-header__autorization_singup
        span Sign up
    .box-header__big-text
      p
        | SHARE YOUR
      p HOLIDAY DREAM
    .box-header__medium-text
      p And find the perfect partner to fullfill it
    .box-header__button
      p Find your holiday partner

